# Some Installed packages in prebuilt training container image
# europe-docker.pkg.dev/vertex-ai/training/sklearn-cpu.1-0:latest
# sklearn version changed from 1.0.1 to 1.0 to allign with the prediction image
google-cloud-bigquery==2.28.1
joblib==1.1.0
numpy==1.19.5
pandas==1.3.3
PyYAML==3.13
scikit-learn==1.0
scipy==1.7.1
sympy==1.8
xgboost==1.4.2
google-cloud-aiplatform
shapely<2
google-cloud-storage

# Installed packages in prebuilt prediction container image
# europe-docker.pkg.dev/vertex-ai/prediction/sklearn-cpu.1-3:latest
# absl-py==2.1.0
# aiohttp==3.9.1
# aiosignal==1.3.1
# anyio==3.7.1
# archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1699370045702/work
# async-timeout==4.0.3
# attrs==23.2.0
# boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1703154663129/work
# Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
# brotlipy==0.7.0
# cachetools==5.3.2
# certifi==2023.11.17
# cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001684923/work
# charset-normalizer==3.3.2
# click==8.1.7
# colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
# conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1701731572133/work
# conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
# conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1702406360642/work/src
# conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
# conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
# cryptography @ file:///home/builder/ci_310/cryptography_1640808721005/work
# Cython==3.0.8
# decorator==5.1.1
# distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
# docker==7.0.0
# exceptiongroup==1.2.0
# fastapi==0.75.2
# frozenlist==1.4.1
# fsspec==2023.12.2
# gcsfs==2023.12.2.post1
# google-api-core==2.15.0
# google-api-python-client==2.115.0
# google-auth==2.26.2
# google-auth-httplib2==0.2.0
# google-auth-oauthlib==1.2.0
# google-cloud-aiplatform==1.28.1
# google-cloud-bigquery==3.16.0
# google-cloud-core==2.4.1
# google-cloud-datastore==1.15.5
# google-cloud-resource-manager==1.11.0
# google-cloud-storage==2.10.0
# google-crc32c==1.5.0
# google-resumable-media==2.7.0
# googleapis-common-protos==1.62.0
# grpc-google-iam-v1==0.13.0
# grpcio==1.60.0
# grpcio-health-checking==1.57.0
# grpcio-status==1.60.0
# grpcio-tools==1.57.0
# h11==0.14.0
# httplib2==0.22.0
# httptools==0.6.1
# idna==3.6
# joblib==1.3.1
# jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
# jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1695397238043/work
# libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1703178593403/work/libmambapy
# menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1705068285533/work
# multidict==6.0.4
# numpy==1.25.1
# oauth2client==4.1.3
# oauthlib==3.2.2
# packaging==23.2
# platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1701708255999/work
# pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1693086607691/work
# proto-plus==1.23.0
# protobuf==4.25.2
# pyasn1==0.5.1
# pyasn1-modules==0.3.0
# pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1696355758174/work
# pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
# pydantic==1.10.14
# pyparsing==3.1.1
# PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
# python-dateutil==2.8.2
# python-dotenv==1.0.1
# PyYAML==6.0.1
# requests==2.31.0
# requests-oauthlib==1.3.1
# retrying==1.3.4
# rsa==4.9
# ruamel-yaml-conda @ file:///home/builder/ci_310/ruamel_yaml_1640794439226/work
# ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1699007337104/work
# ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1695996839082/work
# scikit-learn==1.3.2
# scipy==1.12.0
# Shapely==1.8.5.post1
# six @ file:///tmp/build/80754af9/six_1644875935023/work
# sniffio==1.3.0
# starlette==0.17.1
# threadpoolctl==3.2.0
# tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
# truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
# typing_extensions==4.9.0
# uritemplate==4.1.1
# urllib3==2.1.0
# uvicorn==0.27.0
# uvloop==0.19.0
# watchfiles==0.21.0
# websockets==12.0
# yarl==1.9.4
# zstandard==0.22.0
