name: Deploy to Vertex AI

on:
  push:
    branches:
      - main
  workflow_dispatch: 

env:
  PIPELINE_ROOT: ${{ secrets.PIPELINE_ROOT }}
  CONTAINER_IMAGE: ${{ secrets.CONTAINER_IMAGE }}
  SERVING_IMAGE: ${{ secrets.SERVING_IMAGE }}
  SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}
  ARTIFACT_REPO: ${{ secrets.ARTIFACT_REPO }}
  GCS_URL: ${{ secrets.GCS_URL }}
  TRAIN_RATIO: ${{ secrets.TRAIN_RATIO }}
  BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
  REGION: ${{ secrets.REGION }}
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_SA_KEY }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ env.SERVICE_ACCOUNT_KEY }}

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: 'Use gcloud CLI'
        run: 'gcloud info'

      - name: Install Dependencies
        run: |
          pip install poetry
          poetry install

      - name: Compile and Deploy Pipeline to Vertex AI
        run: |
          poetry run python mlpipeline.py 